:root {
	--black: #000000;
	--light-black: #303030;
	--white: #ffffff;

	--font-weight-normal: 400;
	--font-weight-bold: 700;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: 'Inter', sans-serif;
	background: var(--white);

	color: var(--white);
	font-size: 16px;
	min-height: 100vh;
	overflow: hidden;
}

body.day {
	background: url('../assets/desktop/bg-image-daytime.jpg') no-repeat center / cover;
}

body.night {
	background: url('../assets/desktop/bg-image-nighttime.jpg') no-repeat center / cover;
}

.bg-overlay {
	height: 100vh;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

h1 {
	font-size: 20rem;
	line-height: 20rem;
	letter-spacing: -5px;
	font-weight: var(--font-weight-bold);
}

h2 {
	font-size: 5.6rem;
	line-height: 6.8rem;
	font-weight: var(--font-weight-bold);
}

h3 {
	font-size: 2.4rem;
	line-height: 2.8rem;
	letter-spacing: 4.8px;
	text-transform: uppercase;
	font-weight: var(--font-weight-bold);
}

h4 {
	font-size: 2rem;
	line-height: 2.8rem;
	letter-spacing: 4px;
	text-transform: uppercase;
	font-weight: var(--font-weight-normal);
}

h5 {
	font-size: 1.8rem;
	line-height: 2.8rem;
	font-weight: var(--font-weight-bold);
	padding-top: 1.3rem;
}

h6 {
	font-size: 1.5rem;
	line-height: 2.8rem;
	letter-spacing: 3px;
	text-transform: uppercase;
}

p {
	font-size: 18px;
	line-height: 28px;
	font-weight: var(--font-weight-normal);
}

.container {
	width: 111rem;
	max-width: 100%;
	margin: 0 auto;
	overflow: hidden;
	padding: 5.6rem 2rem 9.8rem 2rem;
}

.something {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.quote-text {
	width: 57.5rem;
}

.quote-upper {
	display: flex;
	align-items: start;
}

.refresh {
	margin-top: 1rem;
	cursor: pointer;
}

/* TIME */
.time {
	/* padding-bottom: 9.8rem; */
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 100%;
	/* height: 40rem; */
}
.time-overall {
	display: flex;
	align-items: flex-end;
}

.bst {
	font-size: 40px;
	line-height: 28px;
	text-transform: uppercase;
	padding-left: 1rem;
}

/* Button */
.button {
	position: relative;
	display: inline-block;
	border: none;
	width: 14.6rem;
	height: 5.6rem;
	text-align: left;
	padding-left: 1.6rem;
	border-radius: 3rem;
	cursor: pointer;
}

.arrow-up::after {
	position: absolute;
	display: inline-block;
	content: '';
	background-image: url('../assets/desktop/icon-arrow-up.svg');
	background-repeat: no-repeat;
	background-position: top right;
	position: absolute;
	top: 0.9rem;
	right: 1rem;
	height: 100%;
	width: 100%;
	transform: rotate(0deg);
}

.arrow-down::after {
	position: absolute;
	display: inline-block;
	content: '';
	background-image: url('../assets/desktop/icon-arrow-up.svg');
	background-repeat: no-repeat;
	background-position: top right;
	position: absolute;
	top: -10%;
	right: -9.5rem;
	height: 100%;
	width: 100%;
	transform: rotate(180deg);
}

.button--text {
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 5px;
	font-weight: var(--font-weight-bold);
	text-transform: uppercase;
	color: #000000;
	opacity: 0.5;
}

.details {
	display: none;
	z-index: 999;
	width: 100%;
	height: 40rem;
	backdrop-filter: blur(40.7742px);
	margin-bottom: -23rem;
}

.details.day {
	background: rgba(255, 255, 255, 0.75);
}

.details.night {
	background: rgba(0, 0, 0, 0.75);
	backdrop-filter: blur(40.7742px);
}

.details.active {
	display: block;
}

.details-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dynamic-text.day {
	color: #303030;
}
.dynamic-text.night {
	color: #fff;
}

.details-top {
	padding-bottom: 4.2rem;
}
.details-top,
.details-bottom {
	display: flex;
	flex-direction: column;
}

.transform {
	transform: translateY(-23rem);
	transition: all 0.5s ease-out;
}

.diver {
	display: flex;
}

.icon {
	margin-right: 1.6rem;
}

.moon {
	display: none;
}
.sun {
	display: none;
}

.sun.active {
	display: block;
}

@media screen and (max-width: 76.8rem) {
	body.day {
		background: url('../assets/tablet/bg-image-daytime.jpg') no-repeat center / cover;
	}

	body.night {
		background: url('../assets/tablet/bg-image-nighttime.jpg') no-repeat center / cover;
	}
}

@media screen and (max-width: 60rem) {
	body.day {
		background: url('../assets/mobile/bg-image-daytime.jpg') no-repeat center / cover;
	}

	body.night {
		background: url('../assets/mobile/bg-image-nighttime.jpg') no-repeat center / cover;
	}
	.time {
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}
	.time-header {
		margin-bottom: 8rem;
	}

	.mobile-remove {
		display: none;
	}

	.date {
		font-size: 10rem;
		line-height: 10rem;
		letter-spacing: -2.5px;
	}

	.quote-text {
		width: 29rem;
	}

	.bst {
		font-size: 1.5rem;
		line-height: 2.8rem;
	}

	.place {
		font-size: 1.5rem;
		line-height: 2.8rem;
		letter-spacing: 3px;
	}

	h2 {
		font-size: 20px;
		line-height: 24px;
	}

	h6 {
		font-size: 10px;
		line-height: 28px;
		letter-spacing: 2px;
	}

	.left,
	.right {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.details-inner {
		flex-direction: column;
		width: 100%;
	}

	.details-top,
	.left {
		padding-bottom: 1.6rem;
	}

	.details-top,
	.details-bottom {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}

	/* .button {
		width: 11.5rem;
		height: 3.9rem;
		padding-left: 1.6rem;
		border-radius: 3rem;
		cursor: pointer;
	}

	.button--text {
		font-size: 1.2rem;
		line-height: 1.4rem;
		letter-spacing: 5px;
	}
	.arrow-down::after {
		background-image: url('../assets/mobile/icon-arrow-up.svg');

		width: 100%;
		height: 100%;
	} */

	/* .arrow-up::after,
	.arrow-down::after {
		width: 3.2rem;
		height: 3.2rem;
	} */
}
